/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-image: url(back6.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    min-height: 100vh;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul a{
    color: aliceblue;
}

ul{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: flex;
    padding: 30px;
    gap: 30px;
}

/* ------------------------------ NAVBAR ------------------------------ */
.logo{
    font-size: 1rem;
    color: aliceblue;
}
nav{
    background-color: rgba(1, 1, 26, 0.966);
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 40px;
    padding: 5px 10%;
}

.profile{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
     
}

.menu{
    /*cacher l'icon du menu*/
    display: none;
}

/* ----------------------------------------- main --------------------------------------- */
/* main{
    padding: 10vh;
} */
.citations{
    /* prend 78 % de la taille de l'ecran et retire 90px */
    min-height: calc(78vh - 90px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

    animation: flotting 5s ease-in-out infinite;
}

@keyframes flotting{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-8px);
    }
}

.citations-div{
    width: 50%;
    position: relative;
    padding: 30px;


    text-align: justify;
    border-radius: 0px 30px 30px 30px;
    justify-content: center;
    align-items: center;

    background-color: rgba(1, 1, 26, 0.808);
    box-shadow: 2px 2px 5px 5px rgba(18, 19, 102, 0.733);

    transition: transform 0.3s ease;
    
}

.citations-div:hover{
    transform: scale(1.03);
}

.citations-div h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 5px;
    font-style: italic;
}

.citations-div i{
    font-style: italic;
    font-size: 2rem;
    padding: 20px;
}

#griffe2{
    font-style: italic;
    font-size: 2rem;
    display: block;
    text-align: right;
} 

.sec-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.icons i{
    font-size: 1.5rem;
}

.icons button{
    border: none;
    background-color: rgba(1, 1, 26, 0.966);
    color: aliceblue;
}

.icons{
    width: 30%;
    height: 60px;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    border-radius: 50px;
    background-color: rgba(1, 1, 26, 0.966);
}

/*------------------------ footer ------------------*/
footer{
    background-color: rgba(1, 1, 26, 0.808);
    box-shadow: -2px -2px 5px 5px rgba(18, 19, 102, 0.733);
    padding: 50px 0 20px;
    margin-top: 50px;
    font-size: 1rem;
}

footer h2{
    font-size: 1.02rem;
}

footer hr {
    border: none;
    height: 1.5px;
    background-color: aliceblue;
    margin: 0 10%;
}
.columns{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 1px;
    font-style: italic;
    gap: 10px;
    padding: 0;
}

.copyright{
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    padding-top: 20px;
}

/*----------------- Responsive ------------------------------*/
@media (max-width: 1080px) {
    .icons{
        width: 45%;
        /* height: auto;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px; */
    }
    /* .icons button {
        width: 50px;
    } */
}


@media (max-width: 916px){
    ul{
        display: none;
    }
    .profile{
        display: none;
    }
    .menu{
        display: block;
        font-size: 2rem;
    }
    .citations-div{
        width: 80%;
    }
    .icons{
        width: 60%;
    }
}

@media (max-width: 700px) {
    .icons{
        width: 60%;
        height: auto;
        /* flex-wrap: wrap; */
        /* gap: 1%; */
        padding: 20px;
    }
    .icons button {
        width: 50px;
    }
}

@media (max-width: 430px) {
    .icons{
        width: 90%;
        height: auto;
        margin-top: 80px;
    }

    .icons button {
        width: 50px;
    }

    .citations-div{
    width: 80%;
    }

    footer h2{
        font-size: 0.8rem;
    }

}

/*---------------------------------------------------------- categories page ----------------------------------------------------------------*/
.categories{
    background-image: url(Art.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    min-height: 100vh;
}

.categories-sec {
    padding: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20%;
    flex-wrap: wrap;
}

.cat-categories{
    margin-bottom: 50px;
}

.cat-categories h2{
    color: rgba(1, 1, 26, 0.966);
    text-align: center;
    padding: 20px;
 }

.cat-card{
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 3.5rem;
    color: rgba(1, 1, 26, 0.966);
    
    width: 200px;
    height: 200px;

    background-color: rgba(240, 248, 255, 0.459);
    border-radius: 30px;
}